.social-planner-network {
  display: block;
  position: relative;

  user-select: none;

  margin: 5px 10px 0 0;
  padding: 5px 7px;
  opacity: .75;

  color: #111;
  background: #eee;

  border: solid 1px #ccc;
  border-radius: 2px;
}