@charset "UTF-8";
#social-planner-dashboard .inside {
  position: relative;
}
#social-planner-dashboard .inside .social-planner-content {
  display: flex;
  flex-flow: row nowrap;
}
#social-planner-dashboard .inside .social-planner-excerpt {
  display: block;
  flex: 1 auto;
  word-break: break-word;
}
#social-planner-dashboard .inside .social-planner-excerpt p {
  margin: 5px 0 0;
}
#social-planner-dashboard .inside .social-planner-excerpt p:first-child {
  margin-top: 0;
}
#social-planner-dashboard .inside .social-planner-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
#social-planner-dashboard .inside .social-planner-header::before {
  content: "";
  display: block;
  margin-right: 5px;
  font-family: dashicons;
  font-size: 20px;
  color: #888;
}
#social-planner-dashboard .inside .social-planner-header strong {
  display: block;
  margin-right: 15px;
}
#social-planner-dashboard .inside .social-planner-list {
  display: block;
  position: relative;
}
#social-planner-dashboard .inside .social-planner-network {
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 5px 10px 0 0;
  padding: 5px 7px;
  opacity: 0.75;
  color: #111;
  background: #eee;
  border: solid 1px #ccc;
  border-radius: 2px;
}
#social-planner-dashboard .inside .social-planner-targets {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 10px;
}
#social-planner-dashboard .inside .social-planner-task {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #eee;
}
#social-planner-dashboard .inside .social-planner-task:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#social-planner-dashboard .inside .social-planner-thumbnail {
  display: block;
  width: 60px;
  height: 60px;
  border: solid 1px #ccc;
  border-radius: 3px;
}
#social-planner-dashboard .inside .social-planner-warning {
  color: #72777c;
  margin: 10px 0;
}